hackathon/Hackathon1_FTD/fraud-detection-cpe-232-data-models/

hackathon/Hackathon2_Insurance-Premium-Prediction/cpe-232-insurance-premium-prediction/

hackathon/Hackathon1_Fraudulent-Transaction-Detection/fraud-detection-cpe-232-data-models/
